@charset "utf-8";
/* reset 初始化样式 */
html,body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select { margin:0; padding:0; }
em { font-style:normal; }
li { list-style:none; }
a { text-decoration:none; }
img { border:none;}
table { border-collapse:collapse; }
input,textarea { outline:none; }
textarea { resize:none; overflow:auto; }
body {background:#fff; font-size:12px; font-family:"微软雅黑"; }
/* 功能样式 */
.f-fl{
	float: left;
}
.f-fr{
	float: right;
}
.clearfix::after{
	content: ".";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
.clearfix{
	zoom: 1;
}