@charset "utf-8";
/* 遮罩 */
#mask{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #000;
	opacity: 0.7;
	filter: alpha(opacity=70);
	z-index: 990;
	display: none;
}
/* loginWrap登录框 */
#loginWrap{
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -194px;
	margin-top: -144px;
	/* IE8及以下 不支持transform */
	/* transform: translate(-50%,-50%); */
	width: 295px;
	height: 218px;
	z-index: 999;
	padding: 30px 52px 40px 40px;
	background: #fff;
	display: none;
}
#loginWrap #loginClose{
	position: absolute;
	top: 10px;
	right: 8px;
	width: 10px;
	height: 10px;
	background: url(../img/sprites.png) no-repeat -53px 0;
	cursor: pointer;
}
#loginWrap h4{
	font-size: 18px;
	color: #444;
	font-weight: bold;
}
#loginWrap .username,#loginWrap .password{
	width: 293px;
	height: 43px;
	margin-top: 20px;
	border: 1px solid #dfdfdf;
	box-shadow: inset 2px 2px 2px #f1f1f1;
}
#loginWrap .password{
	margin-top: 15px;
}
#loginWrap .submit{
	width: 293px;
	height: 46px;
	margin-top: 29px;
	background: #179b33;
	box-shadow: 2px 2px 2px #d5e3da;
	cursor: pointer;
	line-height: 46px;
	text-align: center;
	font-size: 16px;
	color: #fff;
}
/* 视频弹窗 */
#videoWin{
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -475px;
	margin-top: -338px;
	/* IE8及以下 不支持transform */
	/*transform: translate(-50%,-50%); */
	width: 890px;
	height: 607px;
	background: #fff;
	padding: 29px 30px 40px 30px;
	z-index: 999;
	display: none;
}
#videoWin #videoWinClose{
	position: absolute;
	top: 13px;
	right: 12px;
	width: 10px;
	height: 10px;
	background: url(../img/sprites.png) no-repeat -53px 0;
	cursor: pointer;
}
#videoWin h4{
	font-size: 18px;
	color: #444;
	margin-bottom: 22px;
}
/*#videoWin #video{
	width: 889px;
	height: 567px;
}*/
/* g-msg顶部消息 */
.g-msg{
	width: 100%;
	background: #f3f3f3;
}
.g-msg .m-msg{
	margin: 0 auto;
	width: 1206px;
	height: 36px;
	line-height: 36px;
}
.g-msg .m-msg .close{
	cursor:pointer;
}
.g-msg .m-msg .study,.g-msg .m-msg .close{
	color: #333;
}
.g-msg .m-msg .study a{
	color: #21a557;
}
/* m-nav */
.m-nav{
	margin: 0 auto;
	width: 1206px;
	height: 89px;
}
.m-nav .logo{
	margin: 33px 0px 37px 1px;
	width: 70px;
	height: 19px;
	background: url(../img/sprites.png) no-repeat -19px -18px;
}
.m-nav h1{
	width:165px;
	height:22px;
	text-align: right;
	padding: 30px 31px 37px 1px;
	color: #333;
	font:22px/1 "Hiragino Sans GB","Microsoft YaHei";
}
.m-nav .fans{
	padding: 31px 0 37px 0;
	width:115px;
	height: 21px;
}
.m-nav .fans #focus{
	display: inline-block;
	margin-right: 14px;
	width: 54px;
	height: 21px;
	text-align: center;
	line-height: 21px;
	font-size: 12px;
	color: #fff;
	background: #21a557;
	border-radius:2px; 
	cursor: pointer;
}
.m-nav .fans #focus:hover{
	background: #2fb556;
}
.m-nav .fans span{
	font-size: 12px;
	color: #666;
}
.m-nav .link{
	padding:36px 16px 36px 0;
	width:413px;
	height: 17px;
	font-size: 16px;
}
.m-nav .link a{
	color: #333;
}
.m-nav .link .a1{
	margin-right:54px; 
}
.m-nav .link .a2{
	margin-right:56px; 
}
.m-nav .link .a3{
	margin-right:30px; 
}
.m-nav .link a:hover{
	color: #21a557;
}
.m-nav .link .search{
	width: 18px;
	height: 18px;
	background: url(../img/sprites.png) no-repeat 0 0;
}
.m-nav .link .search:hover{
	background: url(../img/sprites.png) no-repeat 0 -19px;
}
/* banner */
.m-banner{
	width: 100%;
	text-align: center;
	position: relative;
	height: 460px;
	overflow: hidden;
}
.m-banner .banner img{
	height: 460px;
}
.m-banner #pointer{
	display: inline-block;
	position: absolute;
	margin: 0 auto;
	bottom: 20px;
}
.m-banner #pointer i{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #fff;
	cursor: pointer;
}
.m-banner #pointer i.z-crt{
	background: #000;
}
.m-banner #pointer i+i{
	/* i+i指：第一个i后面的i */
	margin-left:11px;
}
/* intro */
.m-intro{
	margin: 0 auto;
	width: 1188px;
	height: 175px;
	padding: 61px 13px 59px 5px;
	border-bottom:2px solid #f8f8f8;
}
.m-intro .intro{
	width: 396px;
	height: 175px;
}
.m-intro .open{	
	width: 291px;
	height: 175px;
}
.m-intro .intro img{
	padding:7px 20px 88px 5px;
	width: 80px;
	height: 80px;
}
.m-intro .open h2{
	font-size: 22px;
	padding-bottom: 12px;
	color: #333;
}
.m-intro .open p{
	width: 240px;
	height: 120px;
	font-size: 14px;
	line-height: 24px;
	color:#666;
}
.m-intro .open a{
	font-size: 14px;
	line-height: 24px;
	color:#39a030;
}
.m-intro .open a:hover{
	text-decoration: underline;
}
/* g-workPlace */
.g-workPlace{
	width:100%;
	height: 220px;
	overflow: hidden;
}

/* g-courseListWrap */
.g-courseListWrap{
	width: 100%;
	height: 1551px;
	background: #f8f8f8;
}
.g-courseList{
	width: 1206px;
	padding: 81px 0 120px 0;
	height: 1350px;
	margin: 0 auto;
}
.g-courseList .m-courseList{
	width: 980px;
	height: 1350px;
}
.g-courseList .m-courseList .navUl{
	width: 400px;
	height: 50px;
	padding: 0 580px 9px 0;
}
.g-courseList .m-courseList .navUl .navLi{
	font-size: 20px;
	line-height: 50px;
	text-align: center;
	width: 200px;
	height: 50px;
	box-shadow:0 1px 2px #d4d3d3;
}
.g-courseList .m-courseList .navUl #select{
	background: #39a030;
}
.g-courseList .m-courseList .navUl #select a{
	color: #fff;
}
.g-courseList .m-courseList .navUl #notSelect{
	background: #fff;
}
.g-courseList .m-courseList .navUl #notSelect a{
	color: #666;
}
.g-courseList .m-courseList .courseListUl{
	width: 980px;
	height: 1219px;
	padding-top: 20px;
}
.g-courseList .m-courseList .courseListUl .courseLi{
	margin:0 20px 20px 0;
	float: left;
	width: 223px;
	height: 228px;
	background: #fff;
	padding: 0 1px 0 1px;
	box-shadow:0 1px 2px #e6e6e6;
	font-size: 12px;
}
.g-courseList .m-courseList .courseListUl .courseLi img{
	width: 223px;
	height: 124px;
}
.g-courseList .m-courseList .courseListUl .courseLi a{
	display: inline-block;
	width: 209px;
	height: 32px;
	line-height: 32px;
	padding: 0 10px 0 4px;
	color: #333;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.g-courseList .m-courseList .courseListUl .courseLi .org{
	padding: 0 10px 0 4px;
	width: 209px;
	height: 22px;
	text-align: left;
	color: #999;
}
.g-courseList .m-courseList .courseListUl .courseLi .peopleNum{
	margin: 0 10px 0 4px;
	width: 40px;
	height: 16px;
	text-align: left;
	color: #999;
	border-radius: 2px;
	border: 1px solid #ddd;
}
.g-courseList .m-courseList .courseListUl .courseLi .peopleNum span{
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 5px;
	background: url(../img/sprites.png) no-repeat -19px 0;
}
.g-courseList .m-courseList .courseListUl .courseLi .price{
	color: #ff3f00;
	line-height: 30px;
	padding: 0 10px 0 4px;
}
/* 分页器g-courseList .m-courseList .pages */
.g-courseList .m-courseList .pages{
	width: 302px;
	height: 20px;
	padding: 31px 0 120px 658px;
}
.g-courseList .m-courseList .pagesUl{
	
}
.g-courseList .m-courseList .pagesLi{
	text-align: center;
	float: left;
	width: 30px;
	height: 20px;
}
.g-courseList .m-courseList .pagesLi a.prev,
.g-courseList .m-courseList .pagesLi a.next{
	background: #9dd8b1;
	color: #fff;
	width: 30px;
	height: 20px;
}
.g-courseList .m-courseList .pagesLi a{
	display: inline-block;
	width: 20px;
	height: 20px;
	color:#737373;
	font-size: 14px;
}
.g-courseList .m-courseList .pagesLi a.z-crt{
	color: #39a030;
}
.g-courseList .m-courseList .pagesLi a:hover{
	color: #fff;
	background: #9dd8b1;
}


/* g-courseList .m-side */
.g-courseList .m-side{
	width: 223px;
	height: 1028px;
}
.g-courseList .m-side .videoInfo{
	width: 223px;
	height: 230px;
	background: #FFF;
	box-shadow:0 1px 2px #ddd;
	margin-bottom: 1px;

}
.g-courseList .m-side .videoInfo h3,
.g-courseList .m-side .hotRank h3{
	text-indent:20px;
	line-height: 56px;
	font-size: 16px;
	color: #333;
	box-shadow:0 1px 2px #ccc;
}
.g-courseList .m-side .videoInfo .video{
	margin-top: 1px;
	width: 183px;
	height: 173px;
	padding: 0 20px 0 20px;
}
.g-courseList .m-side .videoInfo .video img{
	cursor: pointer;
	width: 180px;
	height: 110px;
}
.g-courseList .m-side .videoInfo .video p{
	padding: 20px 0 9px 0;
	font-size: 14px;
	color: #666;
}
.g-courseList .m-side .hotRank{
	background: #fff;
	margin-top: 20px;
	width: 223px;
	height:778px;
	box-shadow: 1px 2px 2px #d4d3d3;
}
.g-courseList .m-side .hotRank .hotRankUl{
	margin: 20px 20px 0 20px;
	background: #fff;
	width: 183px;
	height:701px;
}
.g-courseList .m-side .hotRank .hotRankUl .hotRankLi{
	background: #fff;
	margin-bottom:20px;
	width: 183px;
	height:50px;
}
.g-courseList .m-side .hotRank .hotRankUl .hotRankLi img{
	width: 50px;
	height: 50px;
	float: left;
}
.g-courseList .m-side .hotRank .hotRankUl .hotRankLi .hotRankInfo{
	float: left;
	padding-left: 12px;
	width: 121px;
	height: 50px;

}
.g-courseList .m-side .hotRank .hotRankUl .hotRankLi .hotRankInfo a{
	display: inline-block;
	width:121px;
	height: 27px;
	color: #333;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.g-courseList .m-side .hotRank .hotRankUl .hotRankLi .hotRankInfo .person{
	color: #999;
	width: 60px;
	text-align: left;
	display: inline-block;
}
.g-courseList .m-side .hotRank .hotRankUl .hotRankLi .hotRankInfo .person span{
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 5px;
	background: url(../img/sprites.png) no-repeat -19px 0;
}




/* g-footer */
.g-footer{
	width: 100%;
	height: 262px;
	background: #2C3339;
}
.g-footer .m-footer{
	width: 1206px;
	height: 262px;
	margin: 0 auto;
}
.g-footer .m-footer .copyRight{
	padding:93px 0 80px 50px;
	width: 392px;
	height: 89px;
}
.g-footer .m-footer .copyRight p{
	line-height: 25px;
}
.g-footer .m-footer .copyRight h2{
	color: #39a030;
	font:normal bold 22px/36px 'Gill Sans MT';
}
.g-footer .m-footer .copyRight span{
	color: #39a030;
	font:22px/1.14 "Arial","Hiragino Sans GB","Microsoft YaHei";
}
.g-footer .m-footer .friendLink{
	padding: 81px 0 80px 150px;
	width: 110px;
	height: 101px;
}
.g-footer .m-footer .about{
	padding: 81px 0 80px 101px;
	width: 61px;
	height: 101px;
}
.g-footer .m-footer .about .weibo{
	display: inline-block;
	margin:4px 0 0 10px;
	width: 20px;
	height: 16px;
	background: url(../img/sprites.png) no-repeat -31px 0;
}
.g-footer .m-footer .more{
	padding: 81px 207px 109px 73px;
	width: 61px;
	height: 72px;
}
.g-footer .m-footer p{
	line-height: 25px;
	color: #AAABAC;
	font-size: 12.5px;
}
.g-footer .m-footer a{
	line-height: 29px;
	color: #AAABAC;
	font-size: 14.5px;
	display: block;
}
.g-footer .m-footer a:hover{
	text-decoration: underline;
}
