@charset "utf-8";
.wrap{
	width: 100%;
	background: #f3f3f3;
}
.wrap .m-msg{
	margin: 0 auto;
	width: 1206px;
	height: 36px;
	line-height: 36px;
}
.wrap .m-msg .study{
	color: #333333;
}
.wrap .m-msg .study a{
	color: #21a557;
}
.wrap .m-msg .close{
	color: #333333;
}
.m-nav{
	margin: 0 auto;
	width: 1206px;
	height: 90px;
	line-height: 90px;
}
.m-nav h1{
	color: #39a030;
}
.m-nav h1 span{
	color: #333333;
}
.m-nav .fans{
	font-size: 16px;
}
.m-nav .fans #focus{
	display: block;
	width: 54px;
	height: 21px;
	margin: 0 14px 0 31px;
	color: #fff;
	background: #21a557;
	border-radius:2px; 
}
.m-nav .link{
	font-size: 16px;
}
.m-nav .link a{
	color: #333333;
}
.m-nav .link .a1{
	margin-right:54px; 
}
.m-nav .link .a2{
	margin-right:56px; 
}
.m-nav .link .a3{
	margin-right:30px; 
}
.m-nav .link a:hover{
	color: #21a557;
	
}
.m-nav .link .search{
	width: 18px;
	height: 18px;
	margin-right:16px; 
}
/* banner */
.m-banner{
	width: 100%;
	text-align: center;
	position: relative;
	height: 460px;
}
.m-banner #pointer{
	display: inline-block;
	position: absolute;
	margin: 0 auto;
	bottom: 20px;
}
.m-banner #pointer i{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #000;
	cursor: pointer;
}
.m-banner #pointer i .z-crt{
	background: #fff;
}
.m-banner #pointer i+i{
	/* i+i指：第一个i后面的i */
	margin-left:11px;
}
/* intro */
.m-intro{
	margin: 0 auto;
	width: 1206px;
	height: 275px;
	border-bottom:2px solid #f8f8f8;
}
.m-intro .open{
	width: 420px;
	height: 275px;
}
.m-intro .open h2{

}